<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>LA Arena Tally</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://static-prod.weplay.tv/frontend-common-assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://static-prod.weplay.tv/frontend-common-assets/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://static-prod.weplay.tv/frontend-common-assets/favicons/favicon-32x32.png">
    <link rel="shortcut icon" href="https://static-prod.weplay.tv/frontend-common-assets/favicons/favicon.ico">

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/main.js"></script>
</head>

<body>
    <header>
        <span>ATEM Software control</span>
    </header>
    <section>
        <div class="block-wrapper">
            <p class="block-text">Program</p>

            <div id="program" class="row buttons-wrapper">
                <div class="col-md-1 button-wrap" th:each="signal: ${signals}">
                    <div>
                        <img class="img-rounded" src="atem_button.png" />
                        <div th:id="program_ + ${signal.id}" class="button-overlay"></div>
                    </div>
                    <span th:text="${signal.label}" class="button-name"></span>
                </div>
            </div>
        </div>

        <div class="block-wrapper">
            <p class="block-text">Preview</p>
            <div id="preview" class="row buttons-wrapper">
                <div class="col-md-1 button-wrap" th:each="signal: ${signals}">
                    <div>
                        <img class="img-rounded" src="atem_button.png" />
                        <div th:id="preview_ + ${signal.id}" class="button-overlay"></div>
                    </div>
                    <span th:text="${signal.label}" class="button-name"></span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>