
.buttons-wrapper{
    background-color: rgba(0, 0, 0, 0.72);
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;
}

.button-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-name{
    position: absolute;
}
